$font-stack: "Roboto", serif;
$font-stack-header: "Kanit", serif;
$font-stack-2: "Lato", serif;
$font-stack-2: "serif";
$header-text-color: white;
$registry-color: rgba(0, 153, 255, 0.76);
$cards-text-color: white;
$cards-button-color:rgb(77, 174, 235);
$cards-font-size-h1: 25px;
$cards-font-size:15px;
$name-font-size: 90px;
$font-weight-2: 400;
$font-weight-big: 700;
$font-size-footer: 15px;
$header-font-size: 30px;
$footer-text-color: rgba(29, 27, 27, 0.705);
$icons-color: black;
$icons-size: 15px;
$width-cardimage: 125%;
$height-cardimage: 348px;
$margin-bottom-image: 23px;
$width-cardimage2: 100%;
$height-cardimage2: 266px;
$margin-bottom-image2: 23px;
$color-footer: white; 
