/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


@import "resetstyle";
@import "placeholder";
@import "variables";
@import "mixins";

header{
    @extend %headeri;
    height: 13vh;
    margin-bottom: 4%;
    @include headersi;
    .bars{
        display: none;
        color: white;
        font-size: $header-font-size;
    }
    ul{
        
        
        .dropdown{
                display: inline-block;
                position: relative;
                margin-top: -8px;
                &:hover{
                    .content{
                        display: block;
                    }
                }
                button{
                @extend %button;
        
                }
                
                a{
                    @extend %a;
        
                }
                .content{
                    @extend %cont;
                }
            }
       
        
        
    }

    #saxeli{
        @include magari;
        p{
            font-size: $name-font-size;
            font-family: $font-stack-header;
            font-weight: $font-weight-2;
        }
        
    }
    
}

main{
    margin-bottom: 5%;
    @extend %forcenter;
    i{
        font-size: 20px;
        color: white;
        display: inline-block;
    }

    
}
    

    footer{
        @extend %forcool;
    padding: 3vw;
    }


    @media screen and (max-width: 1024px) {
        .navs{
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
        header{
            margin-bottom: 10%;
        }
        .wrapper{
            width: 56vh !important;
        }
    }
      
    @media screen and (max-width: 768px){
        nav{
            .bars{
                display: block;
                
            }
        }
        .navs{
            ul{
                display: none !important;
            }
        }

        .wrapper{
            width: 56vh !important;
        }
}
