$font-stack: "Roboto", serif;
$font-stack-header: "Kanit", serif;
$font-stack-2: "Lato", serif;
$font-stack-2: "serif";
$header-text-color: white;
$registry-color: rgba(0, 153, 255, 0.76);
$cards-text-color: white;
$cards-button-color:rgb(77, 174, 235);
$cards-font-size-h1: 1.563em;
$cards-font-size:0.938em;
$name-font-size: 5.625em;
$font-weight-2: 400;
$font-weight-big: 700;
$font-size-footer: 0.938em;
$header-font-size: 1.875em;
$footer-text-color: rgba(29, 27, 27, 0.705);
$icons-color: black;
$icons-size: 0.938em;
$width-cardimage: 125%;
$height-cardimage: 21.75em;
$margin-bottom-image: 1.438em;
$width-cardimage2: 100%;
$height-cardimage2: 16.625em;
$margin-bottom-image2: 1.438em;
$color-footer: white; 
$font-stack-text: "Noto Serif Georgian";