@import "resetstyle";
@import "placeholder";
@import "variables";
@import "mixins";

header{
    @extend %headeri;
    @include headers;
    ul{
        
        
        .dropdown{
                display: inline-block;
                position: relative;
                margin-top: -8px;
                &:hover{
                    .content{
                        display: block;
                    }
                }
                button{
                @extend %button;
        
                }
                
                a{
                    @extend %a;
        
                }
                .content{
                    @extend %cont;
                }
            }
       
        
        
    }

    #saxeli{
        @include magari;
        p{
            font-size: $name-font-size;
            font-family: $font-stack-header;
            font-weight: $font-weight-2;
        }
        
    }

    .bars{
        display: none;
        color: white;
        font-size: $header-font-size;
    
}

}


main{
    .aboutm{
        @extend %aboutus;
    }
    .maininfo{
        display: flex;
        flex-direction: column;
        @extend %forinfo;
    }
    .goodc{
        padding-top: 6%;
    padding-left: 20%;
    padding-right: 25%;
        .kaikaci{
            @extend %informationg;
        }
        .kaikaci2{
            @extend %informationg;
            max-width: 57vw;
            justify-content: space-between;
        }
    }
}

footer{
    @extend %forcool;
    padding: 3vw;
}



@media screen and (max-width: 1024px) {
    .navs{
        flex-wrap: wrap;
        justify-content: center;
    }
    .kaikaci{
        width: 66vh;
    }
    .kaikaci2{
        display: inline-block;
    }
    .goodc{
        padding-left: 13% !important;
    }
    .row{
    flex-direction: column;
    align-items: center;
    }
    .column{
        width:60% !important;
    }
}
  
@media screen and (max-width: 768px){
    nav{
        .bars{
            display: block;
            
        }
    }
    .navs{
        ul{
            display: none !important;
        }
    }
    .kaikaci{
        display:block !important;
        width: max-content !important;
        .pandh{
            max-width: 52vw !important;
        }
    }
}


