@import "variables";
@import "mixins";

%headeri{
    header{
        width: 100%;
        height: 56vh;
        position: fixed;
        z-index: 10;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
       -webkit-box-pack: space-evenly;
           -ms-flex-pack: space-evenly;
               justify-content: space-evenly;
    }

    nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 151px;
}
    

    .navs{
    background-color: $cards-button-color;
    position: fixed;
    z-index: 10;
    width: 100%;   
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    }
    ul{
        display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    }

    li{
        font-size: $header-font-size;
    font-weight: $font-weight-2;
    font-family: $font-stack-header;
    color: $header-text-color;
    &:hover{
        transform: scale(1.2);
    text-decoration: underline; 
    color:grey; 
    transition: 0.8s;}
    
    }

    a{
        text-decoration: none;
        color: $header-text-color;
       
    }

    h1{
        font-size: 40px;
        font-weight: $font-weight-2;
        font-family: $font-stack-header;
        color: $header-text-color;
        &:hover{
            transform: scale(1.2);
        text-decoration: underline; 
        color: grey; 
        transition: 0.8s;
    }
    }
   
}



%button{
    border-radius: 8px;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    font-size: $header-font-size;
    border: none;
    cursor: pointer;
    &:hover{background-color: hsl(0, 0%, 70%);}
}

%a{
    color: black;
    font-size: 15px;
    font-family: $font-stack;
    display:block;
    padding: 10px 15px;
    &:hover{background-color: hsl(0, 0%, 90%);}
}

%cont{
    display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
    &:hover{
        display: block;
    }
}

%card1{
    width: 312px;;
    height: 292px;
    margin-right: 33px;
    img{
        width: $width-cardimage;
        height: $height-cardimage;
        margin-bottom: 23px;
        border-radius: 8px;
    }
    h1{
        font-family: $font-stack;
        font-size: 38px;;
        font-weight: $font-weight-2;
        color: #343232;
        width: 100%;
        margin-bottom: 9px;
    }
    p{
        font-family: $font-stack;
        font-size: 22px;
        font-weight: 400;
        color: #636060;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    button{
        background-color: rgb(77, 138, 235);
    color: white;
    font-size: 30px;
    font-family: "serif";
    border-radius: 4px;
    padding: 7px;
    &:hover{background-color:rgb(13, 126, 191)}
    }
    .button{
        display: flex;
    justify-content: space-between;
    }
    }


    %imga{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 84px auto;
        height: 50vh;
        background-image: url(../images/546091.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        color: #FFF;
        padding: 100px 20px;
        p{
            font-family: $font-stack;
        font-size: 1.5rem;
        font-weight: 400;
        color: grey;
        }
    
        h1{
            font-family: $font-stack;
            font-size: 7rem;
            font-weight: 700;
        }
        button{
    margin-top: 40px;
    background-color: rgb(35, 100, 35);
    color: white;
    font-size: 30px;
    font-family: "serif";
    border-radius: 9px;
    padding: 12px;
    border: none;
    &:hover{background-color:rgb(13, 53, 5)}
    }
 }

 %card4{
    width: 289px;
    height: 292px;
    margin-right: 33px;
    img{
        width: $width-cardimage2;
        height: $height-cardimage2;
        margin-bottom: 23px;
    }
    h1{
        font-family: $font-stack;
        font-size: 19px;
        font-weight: 400;
        color: #343232;
        width: 100%;
        margin-bottom: 9px;
    }
    p{
        font-family: $font-stack;
        font-size: 18px;
        font-weight: 400;
        color: #636060;
        
    }

}


%inf1{
    h4{
    font-size: 26px;
    color: white;
    margin-bottom: 1.438rem;
    font-weight: $font-weight-2;
    }
    p{
        color: white;
    }
}



%axali{
    #sawiro{
        margin: 0 auto;
        display: block;
        margin-bottom: 120px;
        width: 43vw;
    }
    
    #satauri1{
    
        
    font-size: 26px;
    font-weight: 700;
    margin-left: 0px;
    display: inline-block;
    color: #4E6FAE;
    
    }
    
    #satauri2{
    font-size: 26px;
    font-weight: 200;
    display: inline-block;
    color: #4E6FAE;
    }
    
    
    
    #div5{
        
        margin: 0 auto;
    width: 1052px;
    margin-bottom: 26px;
    display: flex;
    justify-content: flex-start;
    
    
    }
    
    
    #xazi{
        width: 2px;
        height: 25px;
        background-color: #5012D5;
        display: inline-block;
        margin: 0px 12px 0px 17px;
    }
    
    
    
    
    
    
    #xazi1{
        width: 2px;
        height: 50px;
        background-color: #5012D5;
        display: inline-block;
        margin: 0px 50px;
    }
}

%margarini{
    .cifrebi{

        font-size: 24px;
        font-weight: 400;
        padding: 10px;
        color: white;
        background-color: $cards-button-color;
        display:inline-block;
        margin-left: 52px;
        margin-bottom: 30px;
        }
        
        
        .maisi{
        
        font-size: 24px;
        font-weight: 400;
        color: $cards-button-color;
        margin-left: 52px;
        margin-bottom: 35px;
        }
        
        .satauri{
        font-size: 20px;
        font-weight: 700;
        color: #4E6FAE;
        margin-left: 52px;
        
        }
        
        .surati{
            width: 962px;
            height: 541px;
            margin-left: 52px;
            margin-top: 30px;
            vertical-align: top;
        }
        
        .teqsti{
        
        font-size: 25px;
        font-weight: 400;
        color: black;
        display: inline-block;
        margin-left: 90px;
        margin-top: 30px;
        box-sizing: border-box;
        width: 900px;
        height: 281px ;
        margin-right: 97px;
        }
        
        #gverdi{
            color: #4E6FAE;
            display:inline-block;
            font-size: 26px;
            font-weight: 700;
            padding-right: 81px;
            text-decoration: none;
        }
        
        #teqsti-2{
            font-size: 16px;
        font-weight: 400;
        color: #4E6FAE;
        display: block;
        margin-left: 52px;
        margin-top: 30px;
        box-sizing: border-box;
        width: 900px;
        height: 281px ;
        margin-right: 97px;
        
        }
    .cartoni{
        display:flex;
        align-items: center;
        padding: 101px;
    }
    .forcifrebi{
        padding-top: 9vh;
    padding-left: 6vw;
    }
}


%imga{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 84px auto;
    height: 50vh;
    background-image: url(../images/bug-fixes-vs-maintenance.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #FFF;
    padding: 100px 20px;
    p{
        font-family: $font-stack;
    font-size: 1.5rem;
    font-weight: 400;
    color: grey;
    }

    h1{
        font-family: $font-stack;
        font-size: 13rem;
        font-weight: 700;
    }
    button{
margin-top: 40px;
background-color: $cards-button-color;
color: white;
font-size: 30px;
font-family: "serif";
border-radius: 9px;
padding: 12px;
border: none;
&:hover{background-color:rgb(13, 53, 5)}
}
}



%forcool{
    background-color: $cards-button-color;
    .container{
        max-width: 1170px;
        margin:auto;
    }
    .row{
        display: flex;
    }
    ul{
        list-style: none;
    }
    .footer{
        background-color: #24262b;
        padding: 70px 0;
    }
    .footer-col{
       width: 25%;
       padding: 0 15px;
    }
    .footer-col h4{
        font-size: 30px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left:0;
        bottom: -10px;
        background-color: white;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    }
    .footer-col ul li a{
        font-size: 21px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: #ffffff;
        padding-left: 8px;
    }
    .footer-col .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin:0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    .footer-col .social-links a:hover{
        color: #24262b;
        background-color: #ffffff;
    }
    
    /*responsive*/
    @media(max-width: 767px){
      .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    }
    @media(max-width: 574px){
      .footer-col{
        width: 100%;
    }
    }
    
}