/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "resetstyle";
@import "placeholder";
@import "variables";
@import "mixins";
html{
    scroll-behavior: smooth;
}
header{
    @extend %headeri;
    @include headers;
    .bars{
        display: none;
        color: white;
        font-size: $header-font-size;
    }
    ul{
        
        
        .dropdown{
                display: inline-block;
                position: relative;
                margin-top: -8px;
                &:hover{
                    .content{
                        display: block;
                    }
                }
                button{
                @extend %button;
        
                }
                
                a{
                    @extend %a;
        
                }
                .content{
                    @extend %cont;
                }
            }
       
        
        
    }

    #saxeli{
        @include magari;
        p{
            font-size: $name-font-size;
            font-family: $font-stack-header;
            font-weight: $font-weight-2;
        }
        
    }
    #rest{
        width: 100%;
        height: 20vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: -5em;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        }
        img{
            height: 40vh;
    width: 80%;
    border-radius: 21px;
        }
}

/*main {
    #h32{
        @include h1stvis;
    }
    #all{
    display: flex;
    justify-content: space-between;
    #newspaper{
        width: 51em;
        margin-top: 10rem;
        @extend %axali;
    }
    .flex {
        @include flex2;

        .card {
         @extend %card1;
        }
    }
    .imga{
        @extend %imga;
    }
     .cardebs{
        @include cards7;
        @media only screen and (max-width: 1024px){ 
            width: 75%}
      .column{ 
        display: flex; 
        flex-direction: row;
        width: 76%;
        justify-content: space-between;
    }      
        &--card1{
            @include card4;
            @media only screen and (max-width: 1024px){
                margin-bottom: 50px;
            }
            @media only screen and (max-width: 480px){
                p{
                    display:none;
                }
            }
    }
  }
}
}
*/

main{
    .imga{
        @extend %imga;
    }
    @extend %axali;
    @extend %margarini;
}

footer{
    @extend %forcool;
    padding: 3vw;
}


@media screen and (max-width: 1024px) {
    .navs{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .cartoni{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .imga{
        h1{
            font-size: 11em !important; 
        }
    }
}
  
@media screen and (max-width: 768px){
    nav{
        .bars{
            display: block;
            
        }
    }
    .navs{
        ul{
            display: none !important;
        }
    }
    .imga{
        h1{
            font-size: 8em !important; 
        }
    }

    .surati{
        width: 100% !important;
    }
    .teqsti{
        width: 100% !important;
    }
    footer{
        margin-top: 17%;
    }
}