
@import "resetstyle";
@import "placeholder";
@import "variables";
@import "mixins";

header{
    @extend %headeri;
    height: 13vh;
    margin-bottom: 4%;
    @include headersi;
    ul{
        
        
        .dropdown{
                display: inline-block;
                position: relative;
                margin-top: -8px;
                &:hover{
                    .content{
                        display: block;
                    }
                }
                button{
                @extend %button;
        
                }
                
                a{
                    @extend %a;
        
                }
                .content{
                    @extend %cont;
                }
            }
       
        
        
    }

    #saxeli{
        @include magari;
        p{
            font-size: $name-font-size;
            font-family: $font-stack-header;
            font-weight: $font-weight-2;
        }
        
    }
    
}

main{
    margin-bottom: 5%;
    @extend %forcenter;
    i{
        font-size: 20px;
        color: white;
        display: inline-block;
    }
    .forgood{
        display:flex;
        justify-content: space-between;
        flex-direction: row;
    }
    
    

    
}
    

    footer{
        @include footers;
        .kamelia{
            padding-top:1.5%;
            width: 15em;
            @extend %inf1;
            #imagess{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 44px;
                i{
                    @include icons;
                }
            }
        }
        #inf{
            ul{
                @include lulu;
            }
            
        }
        #inf2{
            ul{
                @include lulu($margin-left:96px);
            }
            
        }
        #inf3{
            ul{
                @include lulu($margin-left:108px);
            }
        }
        #inf4{
            ul{
                @include lulu($margin-left:108px);
                gap: 30px;
            }
        }
        #bolo{
            @include bolo;
        }
    
        #geolab{
            @include geolab;
    
        }
    }

