@import "variables";

@mixin headeri(){
    width: 100%;
    height: 8%;
    position: fixed;
    z-index: 10;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   -webkit-box-pack: space-evenly;
       -ms-flex-pack: space-evenly;
           justify-content: space-evenly;
}



@mixin magari(){
    margin-left: 54px;
    margin-top: -5.4em;
    margin-right: 54px;
    width: 313px;
    height: 193px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $font-stack-header;
}

@mixin button1(){
    background-color: hsl(0, 0%, 80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;


}

@mixin headersi(){
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFF;
}

@mixin form(){
    display: flex;
    font-size: 30px;
    color: rgb(61, 60, 59);
    background-color: white;
    opacity: 88%;
    padding: 20px;
    border-radius: 19px;
    gap: 50px;
    
}

@mixin input(){
    color: grey;
    width: 100%;
    padding: 1.188rem;
    border: 3px solid grey;
    border-radius: 7px;
}

@mixin button2(){
    background-color: rgb(77, 138, 235);
    color: white;
    font-size: $header-font-size;
    font-family: $font-stack-2;
    border-radius: 7px;
    padding: 12px;
}