@import "resetstyle";
@import "placeholder";
@import "variables";
@import "mixins";

header{
    @extend %headeri;
    height: 13vh;
    margin-bottom: 4%;
    @include headersi;
    .bars{
        display: none;
        color: white;
        font-size: $header-font-size;
    }
    ul{
        
        
        .dropdown{
                display: inline-block;
                position: relative;
                margin-top: -8px;
                &:hover{
                    .content{
                        display: block;
                    }
                }
                button{
                @extend %button;
        
                }
                
                a{
                    @extend %a;
        
                }
                .content{
                    @extend %cont;
                }
            }
       
       
        
    }

    #saxeli{
        @include magari;
        p{
            font-size: $name-font-size;
            font-family: $font-stack-header;
            font-weight: $font-weight-2;
        }
        
    }
    
}

main{
    margin-bottom: 5%;

    form{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        fieldset{
           @include  field;
            @extend %grafi;
            .for{
                width: 100%;
                label{
                    font-weight: $font-weight-big;
                    font-size: $cards-font-size;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-bottom: 0.5em;
                }
            }
        }
    }
    #information{
        display:block;
        h2{
            @include h2s;
        }
        .info{
            @include info;
        }
    }
}
    

    footer{
        @extend %forcool;
    padding: 3vw;
    }



    @media screen and (max-width: 1024px) {
        .navs{
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
    }
      
    @media screen and (max-width: 768px){
        nav{
            .bars{
                display: block;
                
            }
        }
        .navs{
            ul{
                display: none !important;
            }
        }

        textarea{
            margin-bottom: 20% !important;
        }
    }
    
    
    