/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "resetstyle";
@import "placeholder";
@import "variables";
@import "mixins";

header{
    @extend %headeri;
    @include headers;
    .bars{
        display: none;
        color: white;
        font-size: $header-font-size;
    }
    ul{
        
        
        .dropdown{
                display: inline-block;
                position: relative;
                margin-top: -8px;
                &:hover{
                    .content{
                        display: block;
                    }
                }
                button{
                @extend %button;
        
                }
                
                a{
                    @extend %a;
        
                }
                .content{
                    @extend %cont;
                }
            }
       
        
        
    }

    #saxeli{
        @include magari;
        p{
            font-size: $name-font-size;
            font-family: $font-stack-header;
            font-weight: $font-weight-2;
        }
        
    }
    
}


main{
    background-color: rgb(238 238 239 / var(--tw-bg-opacity));
    padding-bottom: 46px;

    .section{
        @extend %servisebi;
        .cards{
            margin-top: 50px;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            gap: 50px;
            .forcard{
                width: 2000px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                gap: 130px;
                .images1{
                    @include forimages;
                    background-image: url("./../images/Credit-Card-Processing.jpg")
                }
                .images2{
                    @include forimages;
                    background-image: url("./../images/furniture_pieces_office_reception_1000x753.webp")
                }
                .images3{
                    @include forimages;
                    background-image: url("./../images/How-Much-Does-A-Load-Of-Laundry-Cost-At-Home_-Home-vs-Laundromat-Costs.webp")
                }
                .images4{
                    @include forimages;
                    background-image: url("./../images/asphalt-paving-experts.jpg")
                }
                .images5{
                    @include forimages;
                    background-image: url("./../images/1718097239_777.jpg")
                }
                .images6{
                    @include forimages;
                    background-image: url("./../images/istockphoto-468404672-612x612.jpg")
                }
                

                .card1{
                    &:hover{
                        background-color: #ddd;
                        cursor: pointer;
                    }

                }
            }
        }
    }
}

footer{
    @extend %forcool;
    padding: 3vw;
}



@media screen and (max-width: 1024px) {
    .navs{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .forcard{
        width: 1024px !important;
        .card1{
            width: 435px !important;
        }
    }
    .title{
        h1{
            height: 8vh !important;
        }
    }
}
  
@media screen and (max-width: 768px){
    nav{
        .bars{
            display: block;
            
        }
    }
    .navs{
        ul{
            display: none !important;
        }
    }
    .forcard{
        width: 768px !important;
    }
    .title{
        h1{
            height: 8vh !important;
        }
    }
}

