/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
header header {
  width: 100%;
  height: 56vh;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}
header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 151px;
}
header .navs {
  background-color: rgb(77, 174, 235);
  position: fixed;
  z-index: 10;
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
}
header li {
  font-size: 1.875em;
  font-weight: 400;
  font-family: "Kanit", serif;
  color: white;
}
header li:hover {
  transform: scale(1.2);
  text-decoration: underline;
  color: grey;
  transition: 0.8s;
}
header a {
  text-decoration: none;
  color: white;
}
header h1 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Kanit", serif;
  color: white;
}
header h1:hover {
  transform: scale(1.2);
  text-decoration: underline;
  color: grey;
  transition: 0.8s;
}

header ul .dropdown button {
  border-radius: 8px;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  font-size: 1.875em;
  border: none;
  cursor: pointer;
}
header ul .dropdown button:hover {
  background-color: hsl(0, 0%, 70%);
}

header ul .dropdown a {
  color: black;
  font-size: 15px;
  font-family: "Roboto", serif;
  display: block;
  padding: 10px 15px;
}
header ul .dropdown a:hover {
  background-color: hsl(0, 0%, 90%);
}

header ul .dropdown .content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header ul .dropdown .content:hover {
  display: block;
}

main .section .title h1 {
  width: 28%;
  height: 4vh;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  font-size: 42px;
  border-bottom: 5px solid rgb(77, 174, 235);
}
main .section .card1 {
  width: 500px;
  height: 493px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  gap: 20px;
  overflow: hidden;
  background-color: white;
}
main .section .card1 .images {
  height: 220px;
  background-image: url(./../images/236379211.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .section .card1 .images:hover {
  scale: 1.2;
  transition: 0.4s;
}
main .section .card1 .fortext {
  padding-left: 30px;
}
main .section .card1 .fortext h1 {
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 700;
  font-family: "serif";
}
main .section .card1 .fortext p {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Kanit", serif;
}
main .section .card1 .fortext a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(77, 174, 235);
  font-family: "Kanit", serif;
}
main .section .card1 .fortext i {
  font-size: 20px;
  color: rgb(77, 174, 235);
  margin-left: 10px;
}

footer {
  background-color: rgb(77, 174, 235);
  /*responsive*/
}
footer .container {
  max-width: 1170px;
  margin: auto;
}
footer .row {
  display: flex;
}
footer ul {
  list-style: none;
}
footer .footer {
  padding: 70px 0;
}
footer .footer-col {
  width: 25%;
  padding: 0 15px;
}
footer .footer-col h4 {
  font-size: 30px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
footer .footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: white;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
footer .footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
footer .footer-col ul li a {
  font-size: 21px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
footer .footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
footer .footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
footer .footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  footer .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  footer .footer-col {
    width: 100%;
  }
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
header {
  width: 100%;
  height: 13vh;
  color: #FFF;
}
header .bars {
  display: none;
  color: white;
  font-size: 1.875em;
}
header ul .dropdown {
  display: inline-block;
  position: relative;
  margin-top: -8px;
}
header ul .dropdown:hover .content {
  display: block;
}
header #saxeli {
  margin-left: 54px;
  margin-top: -5.4em;
  margin-right: 54px;
  width: 313px;
  height: 193px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Kanit", serif;
}
header #saxeli p {
  font-size: 5.625em;
  font-family: "Kanit", serif;
  font-weight: 400;
}

main {
  background-color: rgb(238 238 239/var(--tw-bg-opacity));
  padding-bottom: 46px;
}
main .section .cards {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
main .section .cards .forcard {
  width: 2000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 130px;
}
main .section .cards .forcard .images1 {
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./../images/Credit-Card-Processing.jpg");
}
main .section .cards .forcard .images1:hover {
  scale: 1.2;
  transition: 0.4s;
}
main .section .cards .forcard .images2 {
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./../images/furniture_pieces_office_reception_1000x753.webp");
}
main .section .cards .forcard .images2:hover {
  scale: 1.2;
  transition: 0.4s;
}
main .section .cards .forcard .images3 {
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./../images/How-Much-Does-A-Load-Of-Laundry-Cost-At-Home_-Home-vs-Laundromat-Costs.webp");
}
main .section .cards .forcard .images3:hover {
  scale: 1.2;
  transition: 0.4s;
}
main .section .cards .forcard .images4 {
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./../images/asphalt-paving-experts.jpg");
}
main .section .cards .forcard .images4:hover {
  scale: 1.2;
  transition: 0.4s;
}
main .section .cards .forcard .images5 {
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./../images/1718097239_777.jpg");
}
main .section .cards .forcard .images5:hover {
  scale: 1.2;
  transition: 0.4s;
}
main .section .cards .forcard .images6 {
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./../images/istockphoto-468404672-612x612.jpg");
}
main .section .cards .forcard .images6:hover {
  scale: 1.2;
  transition: 0.4s;
}
main .section .cards .forcard .card1:hover {
  background-color: #ddd;
  cursor: pointer;
}

footer {
  padding: 3vw;
}

@media screen and (max-width: 1024px) {
  .navs {
    flex-wrap: wrap;
    justify-content: center;
  }
  .forcard {
    width: 1024px !important;
  }
  .forcard .card1 {
    width: 435px !important;
  }
  .title h1 {
    height: 8vh !important;
  }
}
@media screen and (max-width: 768px) {
  nav .bars {
    display: block;
  }
  .navs ul {
    display: none !important;
  }
  .forcard {
    width: 768px !important;
  }
  .title h1 {
    height: 8vh !important;
  }
}/*# sourceMappingURL=styles.css.map */