@import "variables";

@mixin headeri(){
    width: 100%;
    height: 8%;
    position: fixed;
    z-index: 10;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   -webkit-box-pack: space-evenly;
       -ms-flex-pack: space-evenly;
           justify-content: space-evenly;
}



@mixin magari(){
    margin-left: 54px;
    margin-top: -49px;
    margin-right: 54px;
    width: 261px;
    height: 148px;
    background-color: rgb(34, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin button1(){
    background-color: hsl(0, 0%, 80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;


}

@mixin headers(){
    width: 100%;
    height: 60vh;
    background-image: url(../images/pexels-pixabay-258154.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFF;
}

@mixin form(){
    display: flex;
    font-size: 30px;
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 19px;
    gap: 50px;
    
}

@mixin input(){
    width: 100%;
    padding: 1.188rem;
    border: 1px solid grey;
    border-radius: 5px;
}