/*$font-stack: "Roboto", serif;
$font-stack-2: "Lato", serif;
$header-text-color:
$registry-color:
$cards-text-color:
$cards-button-color:
$font-weight-1:
$font-weight-2:
$footer-font-size:
$header-font-size:
$footer-text-color:
$icons-color:
$icons-size: 

