$font-stack: "Roboto", serif;
$font-stack-2: "Lato", serif;
$font-stack-2: "serif";
$header-text-color: white;
$registry-color: rgba(0, 153, 255, 0.76);
$cards-text-color: white;
$cards-button-color: rgb(0, 217, 255);
$font-weight-1: 400;
$font-weight-2: 700;
$footer-font-size: 15px;
$header-font-size: 30px;
$footer-text-color: rgba(128, 128, 128, 0.651);
$icons-color: black;
$icons-size: 15px;


