@import "resetstyle";
@import "placeholder";
@import "variables";
@import "mixins";

header{
    @extend %headeri;
    background-image: url(../images/bella-resort-spa-side-photo-33.jpg);
    @include headers;
    ul{
        
        
        .dropdown{
                display: inline-block;
                position: relative;
                &:hover{
                    .content{
                        display: block;
                    }
                }
                button{
                @extend %button;
        
                }
                
                a{
                    @extend %a;
        
                }
                .content{
                    @extend %cont;
                }
            }
       
        
        
    }

    #saxeli{
        @include magari;
        p{
            font-size: $header-font-size;
            font-family: $font-stack-2;
            font-weight: $font-weight-2;
        }
        img{
            width: 12em;
            height: 50px;
        }
    }
    #rest{
    text-align: center;
    font-size: 80px;
    }
    form{
        @include form;
        p{
            max-width: 9em;
        }
        .stick{
            background-color: black;
    border: 2px solid black;
        }
        input{
            @include input;
        }
    }
}

