@import "resetstyle";
@import "placeholder";
@import "variables";
@import "mixins";

header{
    @extend %headeri;
    background-image: url(../images/Beach_Background-885.jpg);
    @include headers;
    .bars{
        display: none;
        color: white;
        font-size: $header-font-size;
    }
    ul{
        
        
        .dropdown{
                display: inline-block;
                position: relative;
                margin-top: -8px;
                &:hover{
                    .content{
                        display: block;
                    }
                }
                button{
                @extend %button;
        
                }
                
                a{
                    @extend %a;
        
                }
                .content{
                    @extend %cont;
                }
            }
       
        
        
    }

    #saxeli{
        @include magari;
        p{
            font-size: $name-font-size;
            font-family: $font-stack-header;
            font-weight: $font-weight-2;
        }
        
    }
    #rest{
    text-align: center;
    font-size: 80px;
    margin-top: 3.5em;
    }
    form{
        @include form;
        p{
            max-width: 9em;
        }
        .stick{
            background-color: black;
            border: 2px solid black;
        }
        input{
            @include input;
        }
        label{
            margin: auto;
            color: $footer-text-color;
            font-family: $font-stack-2;
        }
        button{
            @include button2;
        }
        .fortexts{
            margin: auto;
        }
    }
}

main {
    .flex {
        @include flex2;

        .card {
         @extend %card1;
         h1{
            text-align: center;
         }
        }
    }
    .imga{
        @extend %imga;
    }
     .cardebs{
        @include cards7;
      .column{ 
        display: flex; 
        flex-direction: row;
        width: 76%;
        justify-content: space-between;
    }      
        &--card1{
            @include card4;
            @media only screen and (max-width: 768px){
                margin-bottom: 110px;
            }
            @media only screen and (max-width: 480px){
                p{
                    display:none;
                }
            }
    }
  }

  .flex4{
    @include flex2;
    gap: 16%;
    justify-content: center;
    .card1{
        display:flex;
        justify-content: center;
        align-items: center;
    width: 500px;
    height: 300px;
    border-radius: 13px;
    margin-bottom: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    h1{
        text-align: center;
        color: white;
    }    
}
  }
}

/*footer{
    @include footers;
    .kamelia{
        padding-top:1.5%;
        width: 15em;
        @extend %inf1;
        #imagess{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 44px;
            i{
                @include icons;
            }
        }
    }
    #inf{
        ul{
            @include lulu;
        }
        
    }
    #inf2{
        ul{
            @include lulu($margin-left:96px);
        }
        
    }
    #inf3{
        ul{
            @include lulu($margin-left:108px);
        }
    }
    #inf4{
        ul{
            @include lulu($margin-left:108px);
            gap: 30px;
        }
    }
    #bolo{
        @include bolo;
    }

    #geolab{
        @include geolab;

    }
}
*/
footer{
    @extend %forcool;
    padding: 3vw;
}

@media screen and (max-width: 1024px) {
    .navs{
        flex-wrap: wrap;
        justify-content: center;
    }
    form{
        scale: 0.7;
    }
    .flex{
        justify-content: space-between !important;
        padding-left: 5%;
        padding-right: 7%;
        gap: 30px;
    }
}
  
@media screen and (max-width: 768px){
    form{
        scale: 0.5;
    }
    .flex{
        justify-content: center !important;
    }
    .cardebs--card1{
        margin-bottom: 106px;
    }
    nav{
        .bars{
            display: block;
            
        }
    }
    .navs{
        ul{
            display: none !important;
        }
    }
}


@media screen and (max-width: 480px){
    form{
        scale: 0.4;
    }
}